<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    /><head>
    <title>Edit</title>
    <style>
      body {
        background-color: #fce4ec;
      }
    </style>
  </head>
  <body>
    <h2>Edit</h2>
    <p>Welcome, {{ user.name }}!</p>

    <form action="/update_user" method="post">
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" value="{{ user.name }}" /><br />
      <label for="username">Username:</label><br />
      <input
        type="text"
        id="username"
        name="username"
        value="{{ user.username }}"
        disabled
      /><br />
      <label for="password">New Password:</label><br />
      <input type="password" id="password" name="password" /><br /><br />
      <input type="submit" value="Update" />
    </form>

    <br />
    <form action="/logout" method="get">
      <input type="submit" value="Logout" />
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
