<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reflections</title>
</head>
<body>
    <h1>Day 1 - Getting Started</h1>
    <p>
        <a href="https://github.com/Karlie-crypto/Python-100days-tocode-challenge/blob/main/day1-ofcode-challenge"
          >Day 1 Reflections</a
        >
      </p>
    <p>On October 27, I made a promise to be consistent and complete the 100 days of code challenge, look at where we are now! Amazing.</p>
    <h1>Day 2 - Exploring print function</h1>
    <p>
        <a href="https://github.com/Karlie-crypto/Python-100days-tocode-challenge/blob/main/day2-ofcode-challenge"
          >Day 2 Reflections</a
        >
      </p>
    <p>Very intresting, print function is more fun and it makes life easy😄.</p>
</body>
</html>
